@import './global.css';

/* Additional custom styles can be added here */
:root {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.libertinus-math-regular {
  font-family: "Libertinus Math", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
} 
